include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/file_uploader *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/file_uploader/migration *.ini *.py *.mako
